body{
    background-color: #78c5df;
    font-style: italic;
    font-weight: 100;
    font-size: 1.25em;
    text-indent: 15px; 
    

    
}
header{
    font-size: 1.3rem;
    border: 2px solid black;
    padding: 20px;
    margin: 20px;
    text-decoration: underline;
    text-decoration-line: underline;
    text-decoration-thickness: 3px;
    text-shadow: 6px 6px 5px red;
}
h1:hover{
    text-align: center;
}
h2:hover{
    font-size: 2rem;
}
.s1{
    h2{
        color: rgb(42, 18, 65);
       
        
    }
    p{
        color: #000;
        font-size: small;
       font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
       font-weight: 600;
    }
}


.s2{
   
    color: saddlebrown;
   p{
    font-size: medium;
   }
    
}
.s3>p{
    font-size: large;
}
.highlight{
   
    font-family: cursive;
}